/** COMMON STYLES **/

* {
    box-sizing: border-box;
}

body {
    margin: 0 0;
    font-family: 'Open Sans', sans-serif;;
}


ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}


h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin: 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    margin: 0;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
}


/** Max. page width **/
.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    background-color: yellow;
}

/** Max. content width **/
.content-wrapper {
    margin: 0px auto;
    max-width: 960px;    
}


/** Make icons to be inline with text **/
.fa {
    display:inline;
}

/** CLEARFIX FOR FLOATS **/

.clearfix::after {
content: " ";
display: table;
clear: both;
}




/** HEADER **/

header {
    position: relative;
    background-color: #1a5880;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(50, 50, 50, 0.34);
    -moz-box-shadow:    0px 4px 8px 0px rgba(50, 50, 50, 0.34);
    box-shadow:         0px 4px 8px 0px rgba(50, 50, 50, 0.34);
}

/** NAV **/


.header-nav{
    display: table;
    width:100%;
    height: 64px;
    background-color:#1a5880;
    text-align: center;
}

.header-nav-content {
    display:table-cell;
    vertical-align: middle;
}


.logo-container,
.hn-list{
    display:inline-block;
    vertical-align: middle;
}

.logo-container{
    margin: 0;   
    padding: 0;
}

.hn-list{
    margin:0;
    padding: 0;
}

.hn-list li{
    display: inline-block;
    padding: 8px 10px;
    color: #fff;
    vertical-align: middle;    
}

.hn-list li a {
    color: #ffffff;
    padding: 8px 10px;
}

.favorites-container span {
    font-size:14px;
    color: #a8b8c6; 
}


.contacts-container {
    border-right: 1px solid #ffffff;
    text-align: right;
}


.cc-content-1,
.cc-content-2 {
    display: inline-block;
    vertical-align: middle;
}

.cc-content-1 span:first-child {
    display:block;
}

.cc-content-1 span:nth-child(2) {
    display:block;
    font-size:12px;
    color: #a8b8c6;
}


.mybooking-container a{
    border: 1px solid #fff;
    border-radius: 8px;
}

/** SPOTLIGHT **/
/** SLIDESHOW **/

.spotlight {
    background-color: #1a5880;
}


.header-banner {
    /** background-image: url("../img/header-background-1.png"); **/
    height:486px;
}


.hb-heading {
    color: #ffffff;
    text-align: center;
    padding-top:120px;
    padding-bottom:20px;
}

.hb-heading h1 {
    font-size: 48px;
    margin: 0;
    text-shadow: 0px 2px 20px rgba(0, 0, 0, 0.45);
    display: inline-block;
}




.hb-benefits {
    text-align: left;
    color: #ffffff;
    width: 100%;
}

.hb-benefits ul li {
    margin: 5px 0;
    width: 25%;
    float: left;
    font-size: 14.16px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
    padding-left: 20px;
    position: relative;
}

.hb-benefits ul li::before {
    font-size: 15px;
    font-family: FontAwesome;
    content: "\f00c";
    position: absolute;
    left: 3px;
}


.hb-benefits ul li:nth-child(4n) {
    clear: right;
}



/** other-car-rentals **/

.other-car-rentals {
    background-color: #d8e9f2;
    color: #1a5880;
    text-align:center;
    padding: 32px 0;
}


.ocr-content {
    width: 13%;
    display: inline-block;
    padding: 30px 0 20px;
    margin: 4px;
}







/** economy-bookings **/

.economy-bookings {
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 15px;
}

.economy-bookings i {
    color: #0073b5;
}

.eb-content-1,
.eb-content-2,
.eb-content-3 {
    width: 100%;
    padding: 20px 0;
}

.eb-content-1 {
    border-bottom: 5px solid #eeeeee;
}

.eb-content-1 h2 {
    color: #777777;
    font-weight: 400;
}

    
    .eb-col-1,
    .eb-col-2 {
        text-align: left;
    }
    
    .eb-col-1 {
        width: 66.6666666%;
        padding-left: 25px;
        float:left;
    }
    
    .eb-col-1 h3 {
        color: #333333;
        font-weight: 600;
        margin-bottom: 20px;
        margin-left: -25px;
    }
    
        .eb-inner-col-1,
        .eb-inner-col-2 {
            width:50%;
            font-size: 15px;
            float:left;
        }
        
        .eb-inner-col-1 ul,
        .eb-inner-col-2 ul {
            margin: 0;
            padding: 0;
        }
        
        .eb-inner-col-1 ul li,
        .eb-inner-col-2 ul li {
            padding: 0 70px 18px 0;
            line-height: 20px;
        }
        
        .eb-inner-col-2 img {
            margin-left: -25px;
        }
    
    
    .eb-col-2 {
        width: 33.3333333%;
        float:left;
    }
    
        .eb-inner-col-3 {
            width:100%;
            padding: 8px 32px;
            border: 1px dashed #bccad7;
        }
        
            .eb-inner-row-1,
            .eb-inner-row-2,
            .eb-inner-row-3 {
                padding: 5px 0;
            }
            
            
            .eb-inner-row-1 h6 {
                float: left;
            }
            
            .eb-inner-row-1 .stars { !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                display:inline-block;
                float: right;
            }
            
            .eb-inner-row-3 a {
                color: #0073b5;
                float: left;
            }
            
            .eb-inner-row-3 img {
                float: right;
            }
        
    
    .eb-col-3 {
    height: 204px;    
    background-color: #eeeeee;
    padding: 20px 0;
    width: 33.3333333%;
    float:left;
    }    
    
    .eb-col-3:nth-child(2) {
    background-color: #dddddd;
    }   
    
    .eb-col-3:nth-child(2) p {
    font-size: 15px;
    padding: 10px 0;
    }    

    .eb-col-3:nth-child(2) a {
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    }   

    .eb-col-3 i {
        color: #6e6e6e;
    }

    .eb-col-3 a {
        color: #3d87bd;
        text-decoration: underline;
    }

    .eb-col-3 h2 {
        color: #0073b5;
        padding-bottom: 10px;
        border-bottom: 2px dashed #b1b1b1;
        display: inline-block;
    }
    
    .eb-col-3 h4 {
        color: #444444;
    }

    .eb-col-3 p {
        color: #646464;
        padding: 7px;
    }
    
    .eb-col-3 input {
        width: 260px;
        height: 42px;
        padding: 10px;
    }

    .btn-blu {
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 6px;
      font-family: Arial;
      color: #ffffff;
      font-size: 16px;
      background: #0073b5;
      margin: 14px 0;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      border: none;
      width: 260px;
    }
    
    .btn-blu:hover {
      background: #3cb0fd;
      text-decoration: none;
    }


/* FOOTER */


/** UPPER FOOTER **/
.upper-footer {
    background-image: url("../img/upper-footer-bg2.png");
    height: 604px;
}

    .uf-container {
        padding: 40px 0 15px;
    }
    
    /*** upper footer heading style ***/
    .uf-container h1 {
        margin:0;
        color: #ffffff;
        font-size: 60px;
        font-weight:200;
        line-height: 70px;
    }
    
    /*** upper footer text style ***/
    .uf-container p {
        margin:0;
        color: #ffffff;
        font-size: 18px;
        font-weight:200;
        padding: 30px 0;
        line-height: 28px;
    }
    
    /*** white google play & app button styles ***/
    .uf-container button {
        padding: 14px 54px 36px 79px;
        border-radius: 10px;
        border: none;
        background-color: #fff;
        margin-right: 15px;
        position: relative;
    }
    
    .uf-container button span {
        display:inline-block;
        left: 83px;
        top: 10px;
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        color: #0579c1;
    }
    
    .uf-container .button-icon {
        position:absolute;
        left: 22px;
        bottom: 14px;
    }
    
    .uf-container .button-text {
        position: absolute;
        left: 78px;
        bottom: 10px;
    }
    
    
    /*** auto rental & CRN buttons ***/
    .uf-container .partners-btn {
        display: inline-block;
        position: relative;
        top: 140px;
        vertical-align: text-top;
        margin-right: 70px;
    }


/** MIDDLE FOOTER **/

.middle-footer {
    height: 222px;
    background-color: #555555;
}

    /*** footer navigation ***/
    .footer-nav {
        margin-top: 10px;
        float: left;
    }

        .footer-nav-list {
            display: inline-block;
            margin-right:45px;
            max-width: 180px;
            vertical-align: text-top;
        }

        .footer-nav-list a:first-child {
            margin: 15px 0;
            color: #cccccc;
            font-size: 18px;
            display:block;
        }
    
        .footer-nav-list a{
            margin: 8px 0;
            color: #fff;
            font-size: 12px;
            display:block;
        }
    
    /*** footer social icons ***/
    .icon-container {
        margin-top: 10px;
        float: left;
    }
        
        .footer-nav-icon-list a {
            color: #c2c2c2;
            margin: 20px 0 0 20px;
            display: block;
        }


    /*** footer subscribe form ***/
    .subscribe-container {
        margin-top: 15px;
        padding: 18px 15px;
        float: right;
        width: 240px;
        height: 190px;
        background-color: #444444;
        text-align: center;
    }
    
        .subscribe-container h5 {
            text-align: left;
            color: #f6f6f6;
            font-weight: 400;
        }
        
        .subscribe-container p {
            font-size: 12px;
            text-align: left;
            color: #cccccc;
            padding:5px 0px 10px;
        }        
    
        .subscribe-container input {
          width: 200px;
          height: 32px;
          padding: 8px;
        }
    
        .btn-yellow {
            -webkit-border-radius: 8;
            -moz-border-radius: 8;
            border-radius: 6px;
            font-family: Arial;
            color: #ffffff;
            font-size: 16px;
            background: #f2a622;
            margin: 14px auto;
            padding: 8px 20px 10px 20px;
            text-decoration: none;
            border: none;
            width: 201px;
            height: 32px;
        }
        
        .btn-yellow:hover {
            background: #f2c922;
            text-decoration: none;
        }
        
/** LOWER FOOTER **/    
    
.lower-footer {
    background-image: url("../img/lower-footer-bg.png");
}

    .lf-container-1,
    .lf-container-2,
    .lf-container-3 {
        display:inline-block;
        padding: 15px 0;
        font-size: 12px;
        width: 33.3333333%;
    }
    
    .lf-container-1 {
        float:left;
    }
    
        .lf-container-1 span {
            display: block;
            color: #939393;
        }
    
    .lf-container-2 {
        float: left;
        text-align: center;
    }
    
    .lf-container-3 {
        float: right;
        text-align: right;
    }
    
        .lf-container-3 img {
            width: 111px;
            height: 60px;
        }
    
    
    
    
    
        /*** black google play & app button styles ***/
    .lf-container-2 .bl-google-play-btn {
        margin: 15px 0;
        border-radius: 10px;
        border: 1px solid #919191;
        background-color: #000000;
        margin-right: 15px;
        position: relative;
        padding: 3px 22px 23px 40px;
    }
    
    .lf-container-2 .bl-appstore-btn {
        margin: 15px 0;
        border-radius: 10px;
        border: 1px solid #919191;
        background-color: #000000;
        margin-right: 15px;
        position: relative;
        padding: 3px 8px 23px 29px;
    }
    
    .bl-google-play-btn span {
        display:inline-block;
        left: 40px;
        top: 2px;
        text-align:left;
        font-size: 9px;
        color: #ffffff;
    }
    
    .bl-appstore-btn span {
        display:inline-block;
        left: 29px;
        top: 1px;
        text-align:left;        
        font-size: 9px;
        text-transform: uppercase;
        color: #ffffff;
    }
    
    .lf-container-2 .bl-button-icon {
        position: absolute;
        left: 13px;
        bottom: 10px;
    }
    
    .lf-container-2 .bl-button-icon2 {
        position: absolute;
        left: 6px;
        bottom: 3px;
    }
    
    .lf-container-2 .bl-button-text {
        position:absolute;
        left: 40px;
        bottom: 3px;
    }